@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700 800;
  font-display: swap;
  src: url('../fonts/anybody-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('../fonts/plusjakartasans.woff2') format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/spacegrotesk-700.woff2') format('woff2');
}
